In [ ]:
#quick analysis directly from database

In [2]:
import pandas as pd
import sqlite3
print('done')

done

In [4]:
#install sql library
!pip3 install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Collecting sqlalchemy>=0.6.7
  Downloading SQLAlchemy-1.4.40-cp310-cp310-macosx_10_15_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 5.7 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: ipython-genutils>=0.1.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: ipython>=1.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (8.4.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.3/42.3 KB 4.1 MB/s eta 0:00:00
Requirement already satisfied: traitlets>=5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.3.0)
Requirement already satisfied: stack-data in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.3.0)
Requirement already satisfied: setuptools>=18.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (58.1.0)
Requirement already satisfied: backcall in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pexpect>4.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: pygments>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (2.12.0)
Requirement already satisfied: decorator in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: appnope in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (3.0.30)
Requirement already satisfied: pickleshare in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.3-cp310-cp310-macosx_10_15_x86_64.whl (93 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 93.7/93.7 KB 3.6 MB/s eta 0:00:00
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.0.5)
Requirement already satisfied: executing in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: prettytable, sqlparse, greenlet, sqlalchemy, ipython-sql
  Running setup.py install for prettytable ... done
Successfully installed greenlet-1.1.3 ipython-sql-0.4.1 prettytable-0.7.2 sqlalchemy-1.4.40 sqlparse-0.4.2
WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.10/bin/python3.10 -m pip install --upgrade pip' command.

In [26]:
df = pd.DataFrame({'name':['Ministry of Coffee', 'Espressoteric', 
                           'Upside Down', 'Espresso profeta', 'Bluestone Lane', 
                           'Elysee bakery', 'Alfred coffee', 'Starbucks', 'Junbi', 
                           'Comoncy', 'Sharetea', 'Lazy Daisy Cafe', 'Kerchoff coffee'],
                   'rating':[4.5, 4.5, 5, 4.5, 3.5, 4.5, 3.5, 3, 4.5, 4.5, 4.5, 4, 4.5],
                  'Does this shop have wifi?': ['Y','Y','Y','Y','Y','Y','Y','Y','N','N','N','N','Y'],
                  'Does this shop have outlets?':['Y', 'Y', 'Y', 'N', 'Y', 'N', 'N', 
                                                  'N', 'N', 'N', 'N', 'N', 'Y']})
print(df)

                  name  rating Does this shop have wifi?  \
0   Ministry of Coffee     4.5                         Y
1        Espressoteric     4.5                         Y
2          Upside Down     5.0                         Y
3     Espresso profeta     4.5                         Y
4       Bluestone Lane     3.5                         Y
5        Elysee bakery     4.5                         Y
6        Alfred coffee     3.5                         Y
7            Starbucks     3.0                         Y
8                Junbi     4.5                         N
9              Comoncy     4.5                         N
10            Sharetea     4.5                         N
11     Lazy Daisy Cafe     4.0                         N
12     Kerchoff coffee     4.5                         Y

   Does this shop have outlets?
0                             Y
1                             Y
2                             Y
3                             N
4                             Y
5                             N
6                             N
7                             N
8                             N
9                             N
10                            N
11                            N
12                            Y

In [27]:
cnn = sqlite3.connect('jupyter_sqp.db')
df.to_sql('stores', cnn)

13

In [28]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [29]:
%sql sqlite:///jupyter_sqp.db

In [30]:
%%sql

SELECT *
FROM stores

 * sqlite:///jupyter_sqp.db
Done.

[(0, 'Ministry of Coffee', 4.5, 'Y', 'Y'),
 (1, 'Espressoteric', 4.5, 'Y', 'Y'),
 (2, 'Upside Down', 5.0, 'Y', 'Y'),
 (3, 'Espresso profeta', 4.5, 'Y', 'N'),
 (4, 'Bluestone Lane', 3.5, 'Y', 'Y'),
 (5, 'Elysee bakery', 4.5, 'Y', 'N'),
 (6, 'Alfred coffee', 3.5, 'Y', 'N'),
 (7, 'Starbucks', 3.0, 'Y', 'N'),
 (8, 'Junbi', 4.5, 'N', 'N'),
 (9, 'Comoncy', 4.5, 'N', 'N'),
 (10, 'Sharetea', 4.5, 'N', 'N'),
 (11, 'Lazy Daisy Cafe', 4.0, 'N', 'N'),
 (12, 'Kerchoff coffee', 4.5, 'Y', 'Y')]